# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################################
# Unity WebGL（public/metaverse）を完全除外
############################################

# WebGL Build フォルダ
public/metaverse/Build/
public/metaverse/StreamingAssets/

# Unity WebGL が生成する巨大ファイル類
public/metaverse/**/*.data
public/metaverse/**/*.wasm
public/metaverse/**/*.jsgz
public/metaverse/**/*.datagz
public/metaverse/**/*.wasmgz
public/metaverse/**/*.memgz
public/metaverse/**/*.json
