.note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93.2%;
  margin: 0 auto;
  gap: 20px;
}

.noteItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  /* 個々のアイテムの幅を調整 */
}

.note1,
.note2 {
  max-width: 100%;
  height: auto;
}

.noteText {
  margin-top: 5px;
}

.noteItem a {
  color: black;
  text-decoration: none;
}

.noteItem a:hover {
  text-decoration: underline;
}