/* LanguageCard.css */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  /* text-align: center; */
  /* カード間の空白 */
  padding: 20px;
  /* コンテナ内の空白 */
}

.category {
  margin-bottom: 40px;
  /* text-align: center; */
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

section.card {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
}

.card img {
  width: 200px;
  height: auto;
  max-width: 200px;
  /* SVG画像の最大幅 */
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
}

.card:hover {
  transform: scale(1.05);
  background-color: #f2f2f2;
  color: #ffffff;
}

.card__content {
  text-align: center;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  padding-left: 5px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

.card:hover img {
  transform: scale(0);
}

.card__description {
  margin: 10px 0 0;
  font-size: 12px;
  color: #000000;
  line-height: 1.4;
}

.category__title {
  text-align: center;
}
