.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.form-input::placeholder {
  color: #a80000b2;
  /* お好みの色に変更 */
  opacity: 1;
  /* opacityを設定することで色の透明度を調整できます */
}


.p-4 {
  padding: 1rem;
}

.form-container {
  width: 100%;
  max-width: 60%;
  /* フォームの最大幅を広げる */
  padding: 5%;
  border-radius: 1rem;
  /* ボーダーを丸くする */
  background-color: #ffffff;
  /* 白背景 */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.form-container:hover {
  transform: translateY(-5px);
  /* ホバー効果を追加 */
}

.form-title {
  font-size: 1.5rem;
  /* フォントサイズを大きく */
  font-weight: 700;
  /* フォントを太く */
  margin-bottom: 1.5rem;
  /* マージンを調整 */
  text-align: center;
  /* 中央揃え */
  color: #333;
  /* テキストカラーを変更 */
}

.form-group {
  margin-right: 24px;
  margin-bottom: 1.5rem;
  /* マージンを調整 */
}

.form-label {
  display: block;
  font-size: 0.9rem;
  /* フォントサイズを調整 */
  font-weight: 600;
  /* フォントを太く */
  margin-bottom: 0.5rem;
  /* マージンを追加 */
  color: #555;
  /* テキストカラーを変更 */
}

.form-input {

  margin-top: 0.25rem;
  width: 100%;
  padding: 0.75rem;
  /* パディングを調整 */
  border: 1px solid #ccc;
  /* ボーダーカラーを設定 */
  border-radius: 0.375rem;
  /* ボーダーを丸くする */
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
  /* ボーダーカラーの遷移を追加 */
}

.form-input:focus {
  border-color: #007bff;
  /* フォーカス時のボーダーカラーを変更 */
}

.form-button {
  width: 100%;
  padding: 0.75rem;
  /* パディングを調整 */
  border-radius: 0.375rem;
  background-color: #007bff;
  /* ボタンの背景色 */
  color: #ffffff;
  /* ボタンのテキストカラー */
  font-size: 1rem;
  /* フォントサイズを調整 */
  cursor: pointer;
  /* カーソルをポインターに */
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
  /* ホバー時の背景色を変更 */
}

textarea {
  resize: none;
  /* サイズ変更を無効にする */
}