/* Profile.css */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  color: #1a202c;
  /* text-zinc-900 */
}

@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
  }
}

.profile-image {
  width: 30%;
  border-radius: 8%;
}

@media (min-width: 768px) {
  .profile-image {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.profile-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.profile-description {
  font-size: 1rem;
}