.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  color: #1a202c;
  /* text-zinc-900 */
}

@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
  }
}

.profile-image {
  width: 30%;
  border-radius: 8%;
}

@media (min-width: 768px) {
  .profile-image {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.profile-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.profile-description {
  font-size: 1rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-education {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.profile-education p {
  margin: 0 1rem 0 0;
  text-align: left;
  /* テキストを左寄せに */
}
.tight-spacing {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.custom-underline::after {
  content: '';
  display: block;
  width: auto;
  /* 下線の長さを設定 */
  border-bottom: 1px solid black;
  margin-top: -3px;
  /* テキストとの間隔調整 (必要に応じて) */
}