.iframeWrappers {
  margin: 10px auto;
  width: 94%;
  padding-bottom: 56.25%;
  position: relative;
}

.iframeWrappers iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.iframeContainers {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.smallIframe {
  width: 45.9%;
  aspect-ratio: 16 / 11;
}

.iframeContainers iframe {
  width: 100%;
  height: 94%;
  /* 親要素に基づいて高さを調整 */
}