.iframeWrappers {
  margin: 10px auto;
  width: 90%;
  padding-bottom: 56.25%;
  position: relative;
}

.iframeWrappers iframe {
  position: absolute;
  width: 100%;
  height: 98%;
}

.iframeContainers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.smallIframe {
  width: 48.5%;
  height: 0;
  position: relative;
}

.smallIframe iframe {
  width: 100%;
  height: 57%;
}