.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 95%;
  margin-top: -15px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .X:hover,
.wrapper .X:hover .tooltip,
.wrapper .X:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

.wrapper .Github:hover,
.wrapper .Github:hover .tooltip,
.wrapper .Github:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

.wrapper .Discord:hover,
.wrapper .Discord:hover .tooltip,
.wrapper .Discord:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

.wrapper .VRChat:hover,
.wrapper .VRChat:hover .tooltip,
.wrapper .VRChat:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

.wrapper .VRChat:hover img {
  filter: invert(1);
}

.wrapper .Note:hover,
.wrapper .Note:hover .tooltip,
.wrapper .Note:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

.wrapper .Note:hover img {
  filter: invert(1);
}

.wrapper .Qiita:hover,
.wrapper .Qiita:hover .tooltip,
.wrapper .Qiita:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

.wrapper .Qiita:hover img {
  filter: invert(0);
}

.wrapper .StudyPlus:hover,
.wrapper .StudyPlus:hover .tooltip,
.wrapper .StudyPlus:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

.wrapper .StudyPlus:hover img {
  filter: invert(1);
}